*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth; /*esto no funciona en explorer ni safari y no se puede variar la velocidad*/
}


#estadoScroll{
    position: fixed;
    top: 40%;
    left:2%;
    visibility: hidden;
    z-index: 5;
}

#estadoScroll ul{
    list-style: none;
}

#estadoScroll ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transform: scale(1);
    transition: all 1s;
    
}

#estadoScroll ul li a:hover{
    transform: scale(1.3);
}


/**********************************************************************************************************/

header nav{
    width: 90%;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    align-items: center;
    
}

header li a{
    text-decoration: none;
    color: white;
    font-family: 'Sora', sans-serif;
    position: relative;
    line-height: 4;
    margin: 1.5em;
}

header li a:before{
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left:0;
        bottom:0;
        transition: all .3s;
}

header li a:hover:before{
    width: 100%;
}

#logo{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.267); 
}
/*****************************************************************************************************************/

#cuadradoInicial{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: 'Sora', sans-serif;
}

video{
    position: fixed;
    width: 100%;
    z-index: -1;
}

#cuadradoInicial p{
    font-size: 20px;
}

p{
    text-align: center;
}

#cuadradoFinal{
    background-color: grey;
    height: 625px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/************************** COLUMNA EXPERIENCIA ***********************************************************/
#experiencia{
    background-color: grey;
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

#columna1{
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    --animate-duration: 5s;
}

.trabajos{
    width: 90%;
    height: auto;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    transition: all .4s ease-in-out;
}

.trabajos:hover{
    background-color: violet;
}


#lineaMedia{
    width: 1%;
    height: 90%;
    background-color: black;
    margin: 10px;
}

#columna2{
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    --animate-duration: 5s;
}

#mover{
    display: inline-block;
    margin-top: 30px;
    color: black;
    border: black 2px solid;
    margin-left: 100px;
    width: 20%;
    background-color: azure;
    box-shadow: 5px 5px 5px black;
    font-family: 'Akaya Telivigala', cursive;
}

/********************************* COLUMNA PROYECTOS ***************************************************/

#aMover2{
    background-color: rgb(42, 140, 165);
    width: 100%;
    height: 300px;
}

#mover2{
    display: inline-block;
    margin-top: 30px;
    color: white;
    border: white 2px solid;
    margin-left: 700px;
}
/*
@keyframes movimiento{
    0%{
        transform: translateX(-720px);
    }
}

@keyframes movimiento2{
    0%{
        transform: translateX(1200px);
    }
}
*/
#mover{
    height: 100px;
}

/*************************************************************************************************************/

footer{
    height: 200px;
    background-color: rgba(128, 128, 128, 0.521);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}

footer a{
    text-decoration: none;
    color: white;
    transform: scale(1);
    transition: all 1s;
}

footer a:hover{
    color: black;
    transform: scale(1.5);
}

/************************************** BARRA SCROLL VERTICAL **************************************/
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /*display: none;  /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: #25252580;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #252525;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: #25252560;
}
